@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard';
    letter-spacing: -0.02em;
}

.wrap{
    background-color: #d4e0d4;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.logo_image {
    position: absolute;
    top: 5vh;
    left: 50vw;
    transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
    .logo_image {
        width: 268px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .logo_image {
        width: 34vw;
        height: auto;
    }
}

.back_ground_line {
    position: absolute;
    opacity: 0.5;
    top: calc(5vh - 10px);
    left: 50vw;
    transform: translateX(-50%);
    width: 278px;
    height: auto;
    animation: back_ground_line 5s ease 0s infinite;
}

@keyframes back_ground_line {
    0% {
        top: calc(5vh - 10px);
        left: 50vw;
        transform: translateX(-50%);
        width: 278px;
        height: auto;
    }

    50% {
        transform: translateX(10%);
    }

    100% {
        top: 0px;
        left: 0px;
        transform: translateX(0%);
        width: 100vw;
        height: 100vh;
    }
}

.circle_line {
    position: absolute;
    opacity: 0.5;
    animation: circle_line 5s ease 0s infinite;
    border: 1px solid #544d43;
    border-radius: 75px;
}

@keyframes circle_line {
    0% {
        width: 150px;
        height: 150px;
        top: 100px;
        left: calc(50% - 75px);
    }

    100%{
        width: 100px;
        height: 100px;
        top: 4px;
        left: 22%;
    }
}

.circle_line_two{
    position: absolute;
    opacity: 0.5;
    animation: circle_line_two 5s ease 0s infinite;
    border: 1px solid #544d43;
    border-radius: 50%;
}

@keyframes circle_line_two {
    0%{
        width: 40vw;
        height: 40vw;
        top: 100px;
        left: calc(50% - 75px);
    }

    100%{
        width: 33vw;
        height: 33vw;
        top: 55%;
        left: 70%;
    }
}

#visit_count {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 17px;
    color: #333333;
}

.introduce_p{
    position: absolute;
    top: 70vh;
    left: 50vw;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 17px;
    color: #333333;
}